<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Journal made by Raul Clark">
  <meta name="keywords" content="HTML,CSS,XML,JavaScript, NodeJS">
  <meta name="author" content="Raul Clark">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <title>Daily Journal</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
          <p class="navbar-brand">DAILY JOURNAL</p>
</div>
      <div>
          <ul class="nav navbar-nav navbar-right">
              <li id="home"><a href="/home">HOME</a></li>
              <li id="compose"><a href="/compose">COMPOSE</a></li>
              <li id="about"><a href="/about">ABOUT US</a></li>
              <li id="contact"><a href="/contact">CONTACT US</a></li>
          </ul>
      </div>
        
    </div>
  </nav>

  <body>
    <div class="container">
