<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Node test">
        <meta name="keywords" content="HTML,CSS,XML,JavaScript, NodeJS">
        <meta name="author" content="Raul Clark">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Route Messages</title>

        <!--<link rel="stylesheet" href="../public/CSS/styles.css">-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <p class="navbar-brand">DAILY JOURNAL</p>
                    </div>
                    <div>
                        <ul class="nav navbar-nav navbar-right">
                            <li id="home"><a href="/">HOME</a></li>
                            <li id="user"><a href="/user">USER</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    <head>

